{% extends "base.html" %}
{% block title %}Création de liste{% endblock %}
{% block content %}

<div ng-init="produits = ['Axe Gel douche', 'Granola', 'Prince de lu', 'Orange', 'Vin de Bordeaux']"></div>
<div id="list-content" class="row">
	<div id="nav-filter" class="col-md-2">
		<div id="title-filter">
			<h2>Produits suggérés</h2>
		</div>
		<div id="filter">
			<input type="text" ng-model="searchText" class="form-control" name="search" placeholder="Recherche" />
		</div>
		<div class="produit" id="drag[[ $index ]]" draggable="true" ondragstart="drag(event)" ng-repeat="prod in produits | filter:searchText">
			<p>[[ prod ]]</p>
		</div>
	</div>
	<div id="making-list" class="col-md-10">
		<div class="title-block">
			<h1>Votre liste :</h1>
		</div>
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" name="title-cotégorie" value="Alimentaire" placeholder="Titre de catégorie" />
				<div  class="DropZoneHide" id="test2" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="LeaveCategory(event)"></div>
				<div id="test2Drop" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="LeaveCategory(event)">
					<div class="produit">
						<p>Produit 18</p>
					</div>
					<div class="produit">
						<p>Produit 19</p>
					</div>
					<div class="produit">
						<p>Produit 20</p>
					</div>
					<div class="add-produit">
					<a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un produit</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<input  type="text" class="form-control" name="title-cotégorie" value="Ménagé" placeholder="Titre de catégorie" />
				<div  class="DropZoneHide" id="test" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="LeaveCategory(event)">

				</div>
				<div id="testDrop">
					<div class="produit">
						<p>Produit 11</p>
					</div>
					<div class="produit">
						<p>Produit 12</p>
					</div>
					<div class="produit">
						<p>Produit 13</p>
					</div>
					<div class="produit">
						<p>Produit 14</p>
					</div>
					<div class="produit">
						<p>Produit 15</p>
					</div>
					<div class="add-produit">
					<a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un produit</a>
					</div>
				</div>
			</div>
	</div>
	</div>
</div>

{% endblock %}